/* AddTour.module.css */
.header {
  background-color: #fefff7;
}

#title {
  font-family: "Black Ops One", system-ui;
  font-size: 50px;
  padding-left: 100px;
  font-weight: 800;
  font-weight: 800;
  transition: color 0.5s ease;
  background: linear-gradient(147deg, #0cd805 58%, gold 42%);
  -webkit-background-clip: text;
  color: transparent;
}

.captcha {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
}

/* .add-tour-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
} */

/* #add-tour-form {
  width: 100%;
  max-width: 400px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
} */
/* 
.form-AT {
  display: flex;
  flex-direction: column;
  gap: 10px;
} */
/* 
.lb-hd {
  font-size: 20px;
  margin-bottom: 8px;
}

.btn-AT {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}*/

.btn-AT:hover {
  background-color: #54cd17;
}
